<fieldset class="tagline">
  <div class="bg"></div>
  <div class="neigh"><h1>LOVE YOUR</h1></div>
  <div class="hood"><h1>NEIGHBORHOOD</h1></div>
</fieldset>

<div class="row">
  <%= form_tag neighborhoods_path, method: :get, id: "search_form" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Neighborhoods" %>
    <%= submit_tag "Search", class: "button success", name: nil %>
  <% end %>

  <ul class="areas">
    <li><a href="#">some text #</a></li>
    <li><a href="#">some text #</a></li>
    <li><a href="#">some text #</a></li>
  </ul>
</div>



<div class="row">
  <%= paginate @neighborhoods %>
  <% @neighborhoods.each do |neighborhood| %>
    <div class="large-4 columns">
      <div class="panel">
          <h3><%= link_to neighborhood.name, neighborhood_path(neighborhood) %></h3>
          <%= neighborhood.location.upcase %>
          <%= image_tag neighborhood.image.url, :size => "300x300"  %>
      </div>
    </div>
  <% end %>
</div>
