<h1><%= @neighborhood.name %></h1>
<p><%= @neighborhood.location %></p>
<p><%= @neighborhood.description %></p>

<% if current_user == @neighborhood.user %>
  <%= link_to "Edit Page", edit_neighborhood_path(@neighborhood) %>
<% end %>
<%= image_tag @neighborhood.image_url.to_s %>

<%= render "reviews/index" if @reviews %>

<%= render "reviews/new" %>
