<%= render 'shared/errors' if @errors%>

<div class="row" id="neighborhood">
  <div class="small-12 columns" id="neighborhood_header">
    <div class="small-8 columns">
      <h1><%= @neighborhood.name %></h1>
        <% if @neighborhood.editable_by?(current_user) %>
          <%= link_to "Edit Page", edit_neighborhood_path(@neighborhood) %>
        <% end %>
      <h4><%= @neighborhood.location %></h4>
      <%= image_tag @neighborhood.image_url.to_s, class: "one_neighborhood" %>
    </div>
      <div class="small-4 columns" id="neighborhood_info">
        <%= @neighborhood.description %>
      </div>
  </div>

  <div class="small-12 columns" id="ratings_list">
    <%= render "reviews/index" if @reviews %>
  </div>

  <div class="small-12 columns">
    <%= render "reviews/new" %>
  </div>
</div>
