<h1><%= @neighborhood.name %></h1>
<p><%= @neighborhood.location %></p>
<p><%= @neighborhood.description %></p>

<% if current_user == @neighborhood.user %>
  <%= link_to "Edit Page", edit_neighborhood_path(@neighborhood) %>
<% end %>

<% if !current_user.nil? && current_user.admin? %>
  <%= link_to "Delete this Neighborhood", neighborhood_path(@neighborhood), method: :delete %>
<% end %>

<%= render "reviews/index" if @reviews %>

<%= render "reviews/new" %>
