<h1><%= @neighborhood.name %></h1>
<p><%= @neighborhood.location %></p>
<p><%= @neighborhood.description %></p>

<% if @reviews %>
  <%= render template: "reviews/index" %>
<% end %>

<%= render template: "reviews/new" %>
