<div class="row" id="neighborhood">
    <div class="large-7 columns" id="neighborhood_header">
      <h1><%= @neighborhood.name %></h1>
      <%= image_tag @neighborhood.image_url.to_s %>
    </div>

    <div class="large-5 columns" id="neighborhood_info">
      <h4><%= @neighborhood.location %></h4>
      <p><%= @neighborhood.description %></p>
      <% if current_user == @neighborhood.user %>
        <%= link_to "Edit Page", edit_neighborhood_path(@neighborhood) %>
      <% end %>
    </div>

    <div class="large-12 columns" id="ratings">
      <%= render "reviews/index" if @reviews %>
      <%= render "reviews/new" %>
    </div>
</div>
