<% @reviews.each do |review| %>
  <div class="review" id="id_<%= review.id %>">
    <%= review.rating %>
    <%= review.description %>
    <%= review.user.email %>
  </div>
  <% if review.editable_by?(current_user) %>
    <%= link_to "Edit Review", edit_neighborhood_review_path(review.neighborhood, review)  %>
    <%= link_to "Delete", neighborhood_review_path(review.neighborhood, review), method: :delete %>
  <% end %>
<% end %>
