<%= paginate @reviews %>
<% @reviews.each do |review| %>
  <div class="review" id="id_<%= review.id %>">
    <div class="rating">
      <%= review.rating %>
    </div>
    <%= review.description %>
    <%= review.user.email %>
  </div>
  <% if review.editable_by?(current_user) %>
    <%= link_to "Edit Review", edit_neighborhood_review_path(review.neighborhood, review)  %>
  <% end %>
  <% if review.editable_by?(current_user) || (!current_user.nil? && current_user.admin?) %>
    <%= link_to "Delete Review", neighborhood_review_path(review.neighborhood, review), method: :delete %>
  <% end %>
<% end %>
