<% @reviews.each do |review| %>
  <div class="review" id="<%= review.id %>">
    <%= review.rating %>
    <%= review.description %>
    <%= review.user.email %>
  </div>
  <%= link_to "Edit Review", edit_neighborhood_review_path(review.neighborhood, review)  %>
<% end %>
