<%= paginate @reviews %>
<% @reviews.each do |review| %>
  <div class="row">
    <div class="rating">

    <div class="rating_details" id="rating.id">
      <p>
        <%= review.rating %>
        <% review.rating.times do %>
         <%= image_tag("star-on.png") %>
        <% end %>
      </p>
    </div>
      <div class="review_details">
        <p>
          <strong><%= review.user.username %></strong>
          <%= review.description %>
        </p>
      </div>
      <ul class="inline-list" id="vote_links">
        <% if current_user %>
          <% if review.voted_on_by?(current_user) && review.find_vote(current_user).value == 0 %>
            <div class="vote_icon">
              <div id="u_icon">
                <%= link_to review_upvote_path(review, review.find_vote(current_user)), method: :patch do %>
                  <i class="fi-home small"></i>
                <% end %>
              </div>
              <div id="d_icon">
                <%= link_to review_downvote_path(review, review.find_vote(current_user)), method: :patch do %>
                  <i class="fi-home small"></i>
                <% end %>
              </div>
            </div>
          <% elsif review.voted_on_by?(current_user) %>
              Already voted. <li class="cancel"><%= link_to "Cancel.",
              review_vote_path(review, review.find_vote(current_user)), method: :patch %></li>
          <% else %>
            <div class="vote_icon">
              <div id="u_icon">
                <%= link_to review_upvotes_path(review), method: :post do %>
                  <i class="fi-home small"></i>
                <% end %>
              </div>
              <div id="d_icon">
                <%= link_to review_downvotes_path(review), method: :post do %>
                  <i class="fi-home small"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>

      <p>Votes: <%= review.total_votes %></p>

      <ul class="inline-list" id="edit_links">
        <% if review.editable_by?(current_user) %>
          <li><%= link_to "Edit Review", edit_neighborhood_review_path(review.neighborhood, review)  %></li>
        <% end %>
        <% if review.deletable_by?(current_user) %>
          <li><%= link_to "Delete Review", neighborhood_review_path(review.neighborhood, review), method: :delete %></li>
        <% end %>
      </ul>
    </div>
    </div>

<% end %>
