<%= paginate @reviews %>
<% @reviews.each do |review| %>
  <div class="review" id="review_<%= review.id %>">
    <div class="rating">
      <%= review.rating %>
    </div>
    <%= review.description %>
    <%= review.user.email %>
    <% if current_user %>
      <% if review.voted_on_by?(current_user) && review.find_vote(current_user).value == 0 %>
        <%= link_to "Upvote", review_upvote_path(review, review.find_vote(current_user)), method: :patch %>
        <%= link_to "Downvote", review_downvote_path(review, review.find_vote(current_user)), method: :patch %>
      <% elsif review.voted_on_by?(current_user) %>
          Already voted. <%= link_to "Cancel.",
          review_vote_path(review, review.find_vote(current_user)), method: :patch %>
      <% else %>
        <%= link_to "Upvote", review_upvotes_path(review), method: :post %>
        <%= link_to "Downvote", review_downvotes_path(review), method: :post %>
      <% end %>
    <% end %>
    <p>Votes: <%= review.total_votes %></p>
  </div>
  <% if review.editable_by?(current_user) %>
    <%= link_to "Edit Review", edit_neighborhood_review_path(review.neighborhood, review)  %>
  <% end %>
  <% if review.deletable_by?(current_user) %>
    <p id="delete"><%= link_to "Delete Review", neighborhood_review_path(review.neighborhood, review), method: :delete %></p>
  <% end %>
<% end %>
