<%= form_for [@neighborhood, @review] do |f| %>
  <%= f.label :rating %>
  <%= f.hidden_field :rating %>
  <div id="star-ratings"></div>

  <%= f.label :description, "Review" %>
  <%= f.text_area :description %>

  <%= f.submit "Add Review", class: "button radius" %>
<% end %>

<%= content_for :extra_footer do %>
  <script type="text/javascript">

  </script>
<% end %>
