<%= render 'shared/errors' if @errors%>

<%= form_for [@neighborhood, @review] do |f| %>
  <%= f.label :rating %>
  <%= f.hidden_field :rating %>
  <div id="star-ratings"></div>

  <%= f.label :description, "Review" %>
  <%= f.text_area :description %>

  <%= f.submit "Edit Review" %>
<% end %>
